[Unit]
Description=EasyEffects audio processing (service mode)
Documentation=https://github.com/wwmm/easyeffects
PartOf=graphical-session.target
After=graphical-session.target pipewire.service pipewire-pulse.service wireplumber.service
Requires=pipewire-pulse.service

[Service]
ExecStart=/usr/bin/easyeffects --service-mode
ExecStop=/usr/bin/easyeffects --quit
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
